<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<title>{{ sites.urls.seotitle }}</title>
		<meta name="description" content="{{ sites.urls.metadescription }}">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
	 	<script>
		document.documentElement.classList.add("js");
		</script>
	 
		{% include "headerstuff.njk" %}
		</head>
	<body>
	
	<header>
		
 		{# <div class="headerrow"  style="position: relative; display:block; z-index:-1; min-height: {{ sites.urls.backgroundhight }}; background-position:  center 0%; background-size:cover; margin:0px; padding:0px; margin-top:0px; "> #}
 		<div class="headerrow"  style="   ">
	


 		{# <div class="text" style="position: absolute; width:100%; margin: 0 auto;"> #}
 		<div class="text" style="  width:100%; margin: 0 auto;">
				<div class='row' style="display:flex; align-items:center; justify-content:center;    ">
						<div class='column'><img src="{{ sites.urls.logo }}" class="dashboardlogo" style="display:{{sites.urls.logoHidden}};"></div>
						<div class='column text-header' style="width:50%"><h1 class="speedlify-hed"><a href="{{ '/' | url }}"> {{ sites.urls.name }} cv   </a></h1></div>
				</div>
				
				
		</div>
	
		<div class="text-description" style="   max-width:60%; margin: 0 auto ; font-size: 1rem; line-height: 1.75;">
					{{ sites.urls.description  | safe  }}<br>
		</div>

	</div>


	</header>

		
		{{ content | safe }}


 

		<footer  style="border-top: 1px solid #444;">
		<p class="footertxt" style="background:#232426;">
				{{ sites.urls.footertxt | safe }}<br>
		</p>
		
			<br>
			<br>
			<div id="installContainer" class="ID niet verwijderen hidden">
			{# <div style="border-radius:25px; display:inline; padding:10px; background:red;"> #}
			<pwa-install
			 id="butInstall"
			 class="leaderboard-hide-sm"
			 
			 showopen="false" 
			 manifestpath="/icons/site.webmanifest"
			 installbuttontext="Installeer"
			 explainer="Deze website kan geinstalleerd worden op het beginscherm van je telefoon, laptop of computer. Belangrijk: We gebruiken geen data van jouw telefoon en slaan geen prive gegevens op." 
			 featuresheader="Eigenschappen" 
			 descriptionheader="" 
			 iosinstallinfotext="Op Iphone of Ipad werkt dit niet goed. Klik in de taakbalk op vierkantje met pijl naar boven en kies 'Zet op beginscherm'"
			 >  
							Installeer mij
			</pwa-install>
			{# </div> #}
			<br><br>
			</div>

			<p style="font-size: 0.8125em;">
				MIT licensed.  Created by <a href="https://www.zachleat.com/">@zachleat</a>, modified by <a href="https://www.snelste.nl/">@SnelsteNL</a>.
			</p>

		</footer>

		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
		<script defer src="https://www.snelste.nl/snelste.js"></script>
		<!-- CloudFlare Analytics via GTM -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5VM9W7"	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

		
	</body>
</html>