<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify</title>
		<meta name="description" content="Benchmark web pages over time.">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>
 		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-T5VM9W7');</script>
	</head>
	<body>
	
 	{# <header style="height:250px;background: url(/assets/bg.svg); background-size:cover; margin:0px; padding:0px; margin-top:0px;"> #}
<header>
	 <div class="headerrow"  style="position: relative;   height: {{ sites.urls.backgroundhight }}; background-size:cover; margin:0px; padding:0px; margin-top:0px; ">
	 </div>


	<div class="text" style="position: absolute; top: 40px;  left: 10%;">
			<div class='row' style="display:flex; align-items:center; justify-content:center;gap: 30px;  ">
					<div class='column'><img src="{{ sites.urls.logo }}" class="dashboardlogo"></div>
					<div class='column'><h1 class="speedlify-hed"><a href="{{ '/' | url }}"> {{ sites.urls.name }}  </a></h1></div>
			</div>
			
			<p class="speedlify-subhed">
				{{ sites.urls.description }}<br>
			</p>
	</div>
	
 </header>

		
		{{ content | safe }}

		<footer>
			MIT licensed. Read <a href="https://www.zachleat.com/web/speedlify/">the blog post</a>. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>.
		</footer>

		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
		<script defer src="https://www.snelste.nl/snelste.js"></script>
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5VM9W7"	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

		
	</body>
</html>